#mainVBox{
    -fx-font-size:14;
}
#button{
      -fx-text-fill: white;
      -fx-background-color: #5677fc;
}
#button:hover{
      -fx-background-color: #4e6cef;
}
#topHBox{
    -fx-spacing:30;
    -fx-background-color: #488fef;
    -fx-text-fill: #000000;
    -fx-font-weight:bold;
    -fx-padding:3 ;
}
#topHBox VBox{
    -fx-padding:5;
    -fx-alignment:CENTER;
    -fx-background-radius:5;/*圆角*/
}
#topHBox VBox:hover{
    -fx-background-color: #4385de;
}

#topHBox VBox Label{
    -fx-min-width:100;
    -fx-alignment:CENTER;
}

#bottom_Box{
    -fx-border-width: 2 0 0 0; /* 上右下左,设置边框宽度，上边框为2 */
    -fx-border-color: #0064cd; /* 设置边框颜色 */
    -fx-background-color: white;
}

#bottom_leftBox{
    -fx-spacing:10;
    -fx-background-color: white;
    -fx-min-width:300;
    -fx-max-width:500;
}
#queueBox{
    -fx-spacing:15;
}
#queueBox VBox{
    -fx-alignment:CENTER;
}

#queueBox VBox Label{
    -fx-font-weight:bold;
    -fx-min-height:25;
}

.bottom_leftBox_insideVbox{
    -fx-background-color: rgb(239,239,239);
    -fx-background-radius: 5px;
    -fx-alignment:CENTER;
}
.bottom_leftBox_insideVbox Label{
    -fx-min-height:25px;
    -fx-font-weight:bold;
}
#currentCommand{
    -fx-font-family:'Consolas';
    -fx-font-size:15px;
    -fx-font-weight:normal;
}

/*
设置ScrollPane样式
*/
.scroll-pane{
    -fx-background-color:rgb(239,239,239);
}
#scrollPaneMemory{
    -fx-background-color:transparent;
}
.scroll-pane:focused{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

#memoryPane{
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: transparent;
}
/*
设置ListView样式
*/
.list-view{
        -fx-background-color: rgb(239,239,239);
        -fx-background-radius: 5px;
        -fx-padding:2px;

}
.list-cell{
    -fx-background-color:transparent;
    -fx-border-width:0px;
    -fx-border-radius:5px;
    -fx-padding:2px;
    -fx-text-fill:black;
}
.list-cell:hover{
    -fx-background-radius:5px;
    -fx-background-color: #dcdcdc;
}



.list-view:focused{
        -fx-focus-color: transparent;
        -fx-faint-focus-color: transparent;
        -fx-background-insets: 0;
        -fx-padding: 2px;
        -fx-border-width: 0;
}

.list-view:selected{
     -fx-border-width: 0;
     -fx-border-color: transparent;
}

.scroll-bar:vertical{
    -fx-background-color: #fcfcfc;
    -fx-border-radius: 5px;
}
.scroll-bar:vertical .increment-button,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent; /* 移除按钮的背景 */
}

/* 自定义滚动条的滑块 */
.scroll-bar:vertical .thumb {
    -fx-background-color: #8b8b8b;  /* 滑块颜色 */
    -fx-border-radius: 5px;
}
.scroll-bar:vertical .thumb:hover{
    -fx-background-color: #636363;
}

/* 自定义空单元格样式，移除 hover 和 selected 样式 */
.empty-cell {
    -fx-background-color: transparent;  /* 去掉背景 */
}
.empty-cell:hover {
    -fx-background-color: transparent;  /* 移除 hover 样式 */
}
.empty-cell:selected {
    -fx-background-color: transparent;  /* 移除 selected 样式 */
}


 .split-pane > .split-pane-divider{
     -fx-padding:1px;
     -fx-background-color:#efefef;
 }
 .split-pane > .split-pane-divider:hover{
     -fx-padding:2px;
     -fx-background-color: #dcdcdc;
     -fx-background-radius:10px;
 }

#processBox{
    -fx-background-color:white;
}
#processLabel{
    -fx-font-weight:bold;
    -fx-min-height:25;
}


#processSplit{
    -fx-font-family: 'Consolas';
    -fx-font-size: 15px;

}
#processSplit TextArea{
    -fx-background-color:white;
    -fx-border-color:transparent;
    -fx-background-radius:20px;
}
#processSplit TextArea:focused{
       -fx-background-color: transparent;
          -fx-background-insets: 0;
          -fx-border-width: 0;
          -fx-padding: 0;
          -fx-highlight-fill: transparent; /* 移除高亮填充 */
          -fx-highlight-text-fill: -fx-text-fill; /* 设置高亮文本颜色与正常文本颜色一致 */
          -fx-faint-focus-color: transparent; /* 移除模糊焦点颜色 */
}
#processSplit TextArea:selected{
     -fx-border-width: 0;
     -fx-border-color: transparent;
}

#diskBox{
    -fx-background-color:white;
}
diskBox VBox{

}
#diskBox VBox Label{
    -fx-min-height:25px;
    -fx-font-weight:bold;
}


#diskStructure{
     -fx-background-color:rgb(239,239,239);
     -fx-background-radius:5px;
}
.tree-view:focused {
    -fx-focus-color: transparent; /* 移除聚焦时的边框颜色 */
    -fx-faint-focus-color: transparent; /* 移除淡化的边框颜色 */
}
.tree-cell{
    -fx-background-color:rgb(239,239,239);
    -fx-background-radius:5px;
      -fx-padding:2px;
}

.tree-cell:hover{

       -fx-background-radius:5px;
       -fx-background-color: #dcdcdc;
}
.tree-cell:focused {
     -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}
.tree-cell:selected {
  -fx-text-fill:black;
}

.tree-disclosure-node > .arrow {
    -fx-background-color: rgb(151,151,151); /* 设置背景颜色为蓝色 */
}
#diskScrollPane{
    -fx-background-radius:5px;
}
#diskUsedPane{
    -fx-padding:20
}


